html {
  font-size: 14px;
  font-family: sans-serif;
}

body {
  background-color: #f9f9f9;
  margin: 0;
}

h1 {
  font-size: 23px;
}

header a {
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
  color: #fff;
}

ul {
    list-style-type: circle;
    color: #fff;
}

header {
  background-color: #F0DBD0;
  height: 50px;
}

footer {
  background-color: #ECEBEC;
  height: 50px;
  bottom: 0;
  position: absolute;
  font-size: 12px;
}

header, footer {
  text-align: center;
  width: 100%;
}

header p, footer p {
  position: relative;
  top: 30%;
  margin: 0;
}

experience {
  width: 350px;
  height: 90%;
  background-color: #274960;
  position: absolute;
  right: 0px;
  overflow-x: hidden;
}


experience h1, experience p {
  margin: 25px;
  color: #fff;
}

@media (max-width: 684px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 12px;
  }
}
