@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://fonts.googleapis.com/css?family=Galada');
@import url('https://fonts.googleapis.com/css?family=Open Sans Condensed:300');
/*
https://www.w3schools.com/howto/tryit.asp?font=Martel%20Sans
https://www.w3schools.com/howto/tryit.asp?font=Marmelad
https://www.w3schools.com/howto/tryit.asp?font=Saira%20Extra%20Condensed */

html {
  font-size: 14px;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  align-items: center;
}

.container {
  align-self: center;
  max-width: 60%;
  display: grid;
}

/* .clearfix::after {
    content: "";
    clear: both;
    display: table;
} */

p,
main p,
nav h2,
circle h1 {
  font-family: Open Sans;
}

p,
main p {
  font-size: 16px;
}

header h1,
main h1 {
  color: #000;
  font-family: Galada;
}

header h1 {
  font-size: 44px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 4px;
}

/* navigatie */
nav {
  background-color: #C8C8D5;
  height: 50px;
  margin: 0;
  width:
}

nav h2 {
  display: inline-block;
  padding: 2px 32px;
  margin-top: 11px;
  font-size: 18px;
  color: #fff;
}

nav h2:hover {
  color: #1F2E3C;
}

/* intro */

main h3 {
  font-family: Open Sans Condensed;
  order: 2;
}

.intro-right,
.content {
  width: 70%;
  margin: 0 auto;
  height: 450px;
  display: block;
  float: right;
}

main {
  background-color: #E9EDF7;
  height: 450px;
  width: 100%;
}

main h3 {
  font-size: 25px;
  float: left;
  /* position: absolute;
  margin-left: 65px;
  margin-top: 320px; */
}

main img {
   float:left;
   clip-path: circle(150px at center);
   /* margin: 45px 20px 20px 320px; */
   height: 300px;
   width: 300px;
   margin-right: 50px;
   order: 1;
   /* position: relative;
   display: inline-block; */
}

main h1 {
  font-size: 30px;
}

main .intro-left {
  margin: 0px auto;
  padding-top: 55px;
  width: 30%;
  float: left;
}

main p {
  margin: 0;
  line-height: 1.5;
}

/* skillset */

.skillset-col,
.projects-col {
  width: 33.33%;
  margin: auto;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
}

section .content {
  height: 350px;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  margin: 50px 0px 0px 0px;
  opacity: 0.8;
  transition: 0.1s;
}

.circle:hover {
  color: #fff;
  opacity: 1;
  transition: 0.1s;
}

.design {
  background: #E5C6B5;
}

.development {
  background: #E9EDF7;
}

.testing {
  background: #F8F4E8;
}

.circle h1 {
  text-align: center;
  padding-top: 110px;
  font-size: 25px;
  color: #505050;
}

/* hr {
    display: block;
    height: 7px;
    border: 0;
    border-top: 7px solid #E9EDF7;
    margin: 10px 0 80px 0;
    padding: 0;
    border-radius: 2px;
} */

/* portfolio */

.projects {
  background-color: #F2F2F2;
  /* width: 100%;
  display: inline-block; */
  height: 374px;
}

.heading {
  /* width: 70%; */
  float: left;
  /* margin-left: 20%; */
  margin-top: 10px;
}

.heading h2::before {
  content: " ";
  background-color: #E5C6B5;
  width: 30px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 0;
}

.projects .content {
  width: 55%;
  margin-top: 80px;
  align-items: center;
}

.square {
  width: 250px;
  height: 250px;
  background: #fff;
  float: left;
}

.square:hover {
  color: #000;
  opacity: 0.6;
  transition: 0.3s;
}

.button {
  width: 300px;
  height: 30px;
  background: none;
  border: 1px solid red;
  display: inline-block;
  display: flow-root;
  margin: 0 auto;
}

/* footer */

footer {
  background-color: #ECEBEC;
  height: 50px;
  bottom: 0;
  margin: 0;
  display: inline-block;
  position: inherit;
}

header,
nav,
footer {
  text-align: center;
  width: 100%;
}

header p,
footer p {
  position: relative;
  top: 30%;
  margin: 0;
}

@media (max-width: 684px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 12px;
  }
}
