@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://fonts.googleapis.com/css?family=Galada');
@import url('https://fonts.googleapis.com/css?family=Open Sans Condensed:300');
/*
https://www.w3schools.com/howto/tryit.asp?font=Martel%20Sans
https://www.w3schools.com/howto/tryit.asp?font=Marmelad
https://www.w3schools.com/howto/tryit.asp?font=Saira%20Extra%20Condensed */


/* @media (max-device-width: 415px) { */
html, body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

p {
  font-family: Open Sans;
  font-size: 14px;
}

h1 {
  font-size: 70px;
  font-family: Galada;
  font-weight: bold;
  color: #000;
}

h2 {
  font-size: 36px;
  color: #fff;
  font-family: Open Sans;
}

h3 {
  font-size: 36px;
  font-family: Open Sans Condensed;
}

.container {
  margin:auto;
  width: 80%;
  vertical-align: middle;
}

/* header */

header {
  text-align: center;
  width: 100%;
}

header h1 {
  margin-top: 30px;
  margin-bottom: 24px;
}

/* navigatie */
nav {
  background-color: #C8C8D5;
  height: 110px;
  margin: 0;
}

nav h2 {
  display: inline-block;
  text-align: center;
  width: 33.33%;
}
nav h2:last-child {
  float:right;
  width: 33.33%;
}

nav h2:first-child {
 float:left;
 width: 33.33%;
}

/* intro */

main img {
  clip-path: circle(300px at center);
  height: 600px;
  width: 600px;
  margin: auto;
  display: block;
  padding: 50px;
}

main h3 {
  margin: auto;
  text-align: center;
}

main h1 {
  display:none;
}

main p {
  text-align: center;
}

/* skillset */

.skillset {
  height: 350px;
  margin-bottom: 36px;
}

.skillset-col {
  width: 33.33%;
  display: inline-block;
  float: left;
  margin: 50px 0;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  opacity: 0.8;
  transition: 0.1s;
}

.design {
  background: #E5C6B5;
}

.development {
  background: #E9EDF7;
}

.testing {
  background: #F8F4E8;
}

.circle h3 {
  text-align: center;
  padding-top: 90px;
  font-size: 44px;
  color: #505050;
  margin: 0;
}

/* portfolio */

.projects {
  background-color: #F2F2F2;
  width: 100%;
  display: inline-block;
  height: 1074px;
  padding-top: 25px;
}

.heading h2::before {
  content: " ";
  background-color: #E5C6B5;
  width: 30px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 0;
}

.heading h2 {
  color: #000;
}

.projects-col {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.square {
  width: 100%;
  height: 240px;
  background: #fff;
}

.button {
  width: 300px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
  display: flow-root;
  margin: 10px auto;
  font-size: 24px;
  font-family: Open Sans Condensed;
  text-align: center;
}


/*
} */


    @media (max-device-width: 684px) {

      .square:hover {
        color: #000;
        opacity: 0.6;
        transition: 0.3s;
      }

      .circle:hover {
        color: #fff;
        opacity: 1;
        transition: 0.1s;
      }

      nav h2:hover {
        color: #1F2E3C;
      }

    }


        @media (max-device-width: 1024px) {

        }
